@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background-image: url('./Components/images/background-image.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#container {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#total-balance {
  position: relative;
  font-size: 2vw;
  top:25%;
  left: 40%
}

a {
  text-decoration: none;
}